@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans|Ultra|Vollkorn');

@font-face {
  font-family: 'Glacia Indifferent';
  src: url("../fonts/GlacialIndifference-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Glacia Indifferent';
  src: url("../fonts/GlacialIndifference-Bold.otf");
  font-weight: bold;
}
