<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <div class="header" th:fragment="header">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link th:href="@{/css/header.css}" rel="stylesheet"/>
        <div class="logo">
            <a th:href="@{/}">
                <div class="logo-header">SMM</div>
                <div class="logo-subheader">Polina Dubovik</div>
            </a>
        </div>
        <div class="spacer"></div>
        <div class="auth">
            <a th:href="@{/author}" class="auth-nav">Author</a>
            <a th:href="@{/blog}" class="auth-nav">blog</a>
            <div class="auth-nav">account</div>
        </div>
    </div>
</html>
