@import '../fonts';

.top-wrapper {
  height: 100vh;
  background-image: url('../img/smms_bg.jpg');
  background-size: 100% 100vh;
}

.attention {
  .attenttion-wrapper {
    font-family: 'Glacia Indifferent';
    font-size: 2rem;
    height: 87vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;

    .main {
      font-family: 'Lato';
      letter-spacing: 0.5rem;
      font-weight: bold;
      font-size: 3rem;
    }

    button {
      align-self: flex-start;
      font-size: 2rem;
      align-items: center;
      align-items: center;
      padding: 10px 20px;
      background-color: azure;
      font-family: 'Lato';
      border-style: none;
      margin-top: 15px;
      border-radius: 10px;
    }
    button:hover {
      cursor: pointer;
      background-color: orange;
    }
  }
}

.interest {
  padding: 3rem;
  text-align: justify;
  font-size: 1.5rem;
  padding-top: 1rem;
  .interest-intro {
    width: 70%;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  .benefits {
    width: 70%;
    margin: 0 auto;
    h3 {
      text-align: center;
      border-top: 2px dashed;
      font-size: 1.75rem;
      margin: 0;
      padding: 1rem 0;
      text-transform: uppercase;
      margin-top: 1rem;
    }
    .benefits-item {
      display: flex;
      justify-content: space-between;

      .benefits-icon {
        font-size: 8rem;
        display: flex;
        justify-content: center;

        i {
          align-self: center;
        }
      }

      .benefits-text {
        padding: 1rem 0;
        .orange {
          color: orange;
        }
        .benefits-text-header {
          font-weight: bold;
          font-size: 1.5rem;
          padding-bottom: 0.5rem;
        }

        .benefits-text-content {
          font-size: 1.25rem;
        }
      }

      .benefits-icon, .benefits-text {
        flex: 47%;
        max-width: 47%;
        border-top: 2px dashed black;
      }
    }

    .benefits-item.last-border {
      .benefits-icon, .benefits-text {
        border-bottom: 2px dashed black;
      }
    }
  }
}

.works {
  background-color: rgb(207, 213, 211);
  padding: 3rem;
  padding-top: 1rem;
  font-size: 1.5rem;

  .works-wrapper {
    .works-lists {
      display: flex;
      ul {
        flex: 30%;
        max-width: 30%;
      }
    }
  }
}

.flaer {
  display: flex;
  padding: 1.8rem;
  padding-top: 0;
  width: 50%;
  margin: 0 auto;
  .left {
    font-family: 'Glacia Indifferent';
    .item {
      display: flex;
      align-items: center;
      padding-right: 1.8rem;
      .index {
        font-family: 'Ultra';
        font-weight: bold;
        font-size: 6rem;
        width: 84px;
        text-align: center;
      }
      .context {
        .context-header {
          font-size: 2rem;
          font-weight: bold;
        }
        .context-subheader {
          font-size: 1.5rem;
          font-weight: normal;
        }
      }
    }
  }
  .right {
    flex: 30%;
    padding-top: 1.2rem;
    font-size: 1.2rem;
    align-items: center;
    display: flex;

    button {
      width: 42%;
      font-size: 1.5rem;
      padding: 10px 20px;
      border-radius: 10px;
      border-style: none;
      background-color: white;
    }

    form {
      outline: 1px white solid;
      padding: 18px;
    }

    button:hover {
      cursor: pointer;
      background-color: darksalmon;
    }

    input {
      padding: 0.5rem 1rem;
      outline: none;
      font-size: 1.2rem;
      border-style: none;
      border-radius: 8px;
      margin-bottom: 1rem;
    }
  }
}


