<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMM</title>
</head>
<body>
<div class="author-header">
    <div class="blue">

    </div>
    <div class="red">

    </div>
    <div class="image">

    </div>
</div>
<div class="author-content">
    <div class="left">

    </div>
    <div class="right">
        <div class="right-header">
            <div class="big">

            </div>
        </div>
        <div class="items">
            <div class="item">
                <div class="item-header">

                </div>
                <div class="item-content">

                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>