<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/smms.css}" rel="stylesheet"/>
</head>
<body>
<div class="top-wrapper">
    <div th:insert="layout/header :: header"></div>
    <div class="attention">
        <div class="attenttion-wrapper">
            <div class="attention-text">Author courses SMM</div>
            <div class="attention-text">
                Make your business in 2 times better for 6 hours per week with smms
            </div>
        </div>
    </div>
</div>
<div class="interest">
    <div class="interest-intro">SMM - is amazing and nowadys is almost everywhere, maybe will usefull to get here short
        definition of smm
    </div>
    <div class="benefits">
        <h3>Learn how SMM can make your life better</h3>
        <div class="benefits-item">
            <div class="benefits-icon">
                <i class="fas fa-piggy-bank"></i>
            </div>
            <div class="benefits-text">
                <div class="benefits-text-header">
                    Save your money
                </div>
                <div class="benefits-text-content">
                    Lorem ipsum dolor sit amet, <span class="orange"> consectetur </span> elit. Ab accusantium animi aut
                    blanditiis
                    commodi consectetur corporis culpa dicta eaque, exercitationem impedit, in itaque iusto labore
                    minima molestiae nam neque nisi nulla obcaecati porro quia ratione recusandae reprehenderit
                    similique suscipit vel.
                </div>
            </div>
        </div>
        <div class="benefits-item">
            <div class="benefits-icon">
                <i class="fas fa-clock"></i>
            </div>
            <div class="benefits-text">
                <div class="benefits-text-header">
                    Save your time
                </div>
                <div class="benefits-text-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium animi aut blanditiis
                    commodi consectetur corporis <span class="orange">culpa dicta</span> eaque, exercitationem impedit,
                    in itaque iusto labore
                    minima molestiae nam neque nisi nulla obcaecati porro quia ratione recusandae reprehenderit
                    similique suscipit vel.
                </div>
            </div>
        </div>
        <div class="benefits-item last-border">
            <div class="benefits-icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="benefits-text">
                <div class="benefits-text-header">
                    Earn money
                </div>
                <div class="benefits-text-content">
                    Lorem ipsum dolor sit amet, <span class="orange">consectetur</span> adipisicing elit. Ab accusantium
                    animi aut blanditiis
                    commodi consectetur corporis culpa dicta eaque, exercitationem impedit, in itaque iusto labore
                    minima molestiae nam neque nisi nulla obcaecati porro quia <span class="orange">ratione</span>
                    recusandae reprehenderit
                    similique suscipit vel.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="works">
    <div class="works-wrapper">
        <h2>What you will get</h2>
        <div class="works-items">
            <div class="divider"></div>
            <div class="works-item first">
                <div class="works-item-header">
                    Knowledge
                </div>
                <div class="works-item-description">
                    Method are checked and working great
                </div>
            </div>
            <div class="works-item">
                <div class="works-item-header">
                    Power
                </div>
                <div class="works-item-description">
                    Method are checked and working great
                </div>
            </div>
            <div class="works-item first">
                <div class="works-item-header">
                    Instrument
                </div>
                <div class="works-item-description">
                    Method are checked and working great
                </div>
            </div>
            <div class="works-item">
                <div class="works-item-header">
                    Support
                </div>
                <div class="works-item-description">
                    Method are checked and working great
                </div>
            </div>
            <div class="works-item first">
                <div class="works-item-header">
                    Garant
                </div>
                <div class="works-item-description">
                    Method are checked and working great
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comments">
    <div class="comments-header">
        Start using SMM
    </div>
    <div class="comments-subheader">
        Everyday someone start using new features, today it can be you Polina is a professional...
    </div>
    <div class="users">
        <div class="user">
            <div class="comment">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aperiam commodi corporis cum
                debitis deleniti deserunt, doloribus ea eos error est eum facilis incidunt, inventore iste labore
                laborum minima minus molestiae mollitia non officiis perspiciatis placeat praesentium quasi quidem quos
                ratione reiciendis repellat repellendus saepe, suscipit unde velit vitae.
            </div>
            <div class="identity">
                by Lorem Ipsum, 27 april
            </div>
        </div>
        <div class="user">
            <div class="comment">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aperiam commodi corporis cum
                debitis deleniti deserunt, doloribus ea eos error est eum facilis incidunt, inventore iste labore
            </div>
            <div class="identity">
                by Lorem Ipsum, 27 april
            </div>
        </div>
        <div class="user">
            <div class="comment">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aperiam commodi corporis cum
                debitis deleniti deserunt, doloribus ea eos error est eum facilis incidunt, inventore iste labore
                laborum minima minus molestiae mollitia non officiis perspiciatis placeat praesentium quasi quidem quos
                ratione reiciendis repellat repellendus saepe, suscipit unde velit vitae.
                laborum minima minus molestiae mollitia non officiis perspiciatis placeat praesentium quasi quidem quos
                ratione reiciendis repellat repellendus saepe, suscipit unde velit vitae.
            </div>
            <div class="identity">
                by Lorem Ipsum, 27 april
            </div>
        </div>
        <div class="user">
            <div class="comment">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aperiam commodi corporis cum
            </div>
            <div class="identity">
                by Lorem Ipsum, 27 april
            </div>
        </div>
    </div>
</div>
<div class="flaer">
    <div class="left">
        <div class="item">
            <div class="index">
                1
            </div>
            <div class="context">
                <div class="context-header">
                    Header & header
                </div>
                <div class="context-subheader">
                    subheader info
                </div>
                <div class="context-subheader">
                    subheader info
                </div>
            </div>
            <a class="action">
                Choose
            </a>
        </div>
        <div class="item">
            <div class="index">
                2
            </div>
            <div class="context">
                <div class="context-header">
                    Header & header
                </div>
                <div class="context-subheader">
                    subheader info
                </div>
                <div class="context-subheader">
                    subheader info
                </div>
            </div>
            <a class="action">
                Blog
            </a>
        </div>
        <div class="item">
            <div class="index">
                3
            </div>
            <div class="context">
                <div class="context-header">
                    Header & header
                </div>
                <div class="context-subheader">
                    subheader info
                </div>
                <div class="context-subheader">
                    subheader info
                </div>
            </div>
            <a class="action">
                Ask
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="top">
        <div class="col hrefs">
            <a>Author</a>
            <a>Blog</a>
            <a>Account</a>
        </div>
        <div class="col contacts">
            <div class="address">
                address: molodachno wwww, 25 x
            </div>
            <div class="phone">
                +375-xx-xxx-xx-xx
                +375-xx-xxx-xx-xx
                +375-xx-xxx-xx-xx
            </div>
            <div class="mail">
                xxxx@xxx.com
            </div>
        </div>
    </div>
    <div class="bottom">
        <div>
            Индивидуальный предприниматель Дубовик Полина Анатольевна
        </div>
        <div>
            УНП: 692021545
        </div>
    </div>
</div>
</body>
</html>
